@model EmployeeSkillManagement.Models.Admin
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>




<body class="login-page">

    <section>
        <div class="box">
            <div class="form">
                <h2>Login</h2>
                <form class="" asp-action="Login" method="post" enctype="multipart/form-data"
                    onsubmit="return validateForm()">
                    <div class="inputBx">
                        <input asp-for="Email" type="text" placeholder="Email" id="username" required autofocus>
                        <img src="images/user.png" alt="">
                    </div>
                    <div class="inputBx">
                        <input asp-for="PASSWORD" type="password" id="password" placeholder="Password" required>
                        <img src="images/lock.png" alt="">
                    </div>
                    <div class="inputBx mt-5">
                        <input type="submit" name="submit" value="Login">
                    </div>
                    <div id="error-message" class="text-danger">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        function validateForm() {
            let username = document.getElementById("username").value;
            let pass = document.getElementById("password").value;
            let errorMessage = document.getElementById("error-message");

            if (username.trim() === "" || pass.trim() === "") {
                errorMessage.textContent = "Please fill in all fields.";
                return false;
            } else {
                errorMessage.textContent = "";
            }
            return true; // Submit the form
        }
    </script>
</body>

</html>
